.div{
    position: relative;
    border: 2px solid black;
    margin: 129px;
    height: 289px;
    width: 450px;
}
.img{
    position: absolute;
    width: 270px;
    left: 90px;
}
.p13{

}
.sp2{

}
.p14{

}
.but{
    
}