.flex{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    background-color: rgb(255 255 255 1);
    backdrop-filter:  blur(10px);
    border: 2px solid rgb(119, 155, 37);
}
body{
    background-image: url(css/2017_aventador_.jpg);
}
.imago{
    width: 220px;
    height: 150px;
}























